# Introductory exercises
# Programming for Bioinformatics
#### (Originally from Giuseppe Profiti)

For each set of exercises, the slides needed are used as section title.

# 1. Python-basic

###### 1. assign the value 7 to a variable, print it

In [61]:
var1 = 7
print(var1)

7

###### 2. assign the value 3.14 to another variable

In [62]:
var2 = 3.14
print(var2)

3.14

###### 3. check if the first variable value is even; what can you use?

In [63]:
var1%2 == 0

False

Double-click __here__ for the solution.
<!-- Your answer is below:
modulo is assigned to the symbol % in python and shows you the rest 
var1%2 == 0
-->

###### 4. evaluate the average of the two variables

In [64]:
avr = (var1 + var2) / 2
print(avr)

5.07

Double-click __here__ for more explanation.

<!-- Remember that a single / gives you a float as output 
while the  // is for integer division and rounds down to the next integer -->

In [65]:
print(5//2)

2

###### 5. change the value of the first variable with its double, subtract 1 to it and put the result into a third variable

In [66]:
var3 = (var1*2)-1
print(var3)

13

###### 6. assign values to the four variables x1, y1, x2, y2

In [67]:
x1 = 1
y1 = 2
x2 = 3
y2 = 4

###### 7. evaluate the euclidean distance for the points (x1,y1) and (x2,y2)

In [68]:
euc_dist = (x2 - x1)+(y2 - y1)
print(euc_dist)

4

# 2. Python-strings

###### 1. assign the string “fire and ice” to a variable

In [69]:
str = 'fire and ice'

Double-click __here__ for more explanation.

<!-- Remember indexing starts at 0. That means the string above is inexed as follows
-->

###### 2. print the third character of the string

| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
| f | i | r | e | _  | a | n | d |  _ | i | c  | e  |
| 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11| 12 |

In [70]:
print(str[2])

r

###### 3. print the fifth character

In [71]:
print(str[4])

Why did it not print anything? Double-click __here__ for more explanation.

<!-- The white space is considered a character, so you cant see it being printed instead you would see and empty line in the terminal.
-->

###### 4. print the tenth character, print the last character, print the second-last

In [72]:
print("Thenth character: ", str[9])
print('last character: ', str[-1])
print('second-last character: ', str[-2])

Thenth character:  i
last character:  e
second-last character:  c

###### 5. print the characters in even position

In [73]:
even = str[::2]
print(even)

fr n c

###### 6. print the characters in odd position

In [74]:
odd = str[1::2]
print(odd)

ieadie

###### 7. print the first half of the string

In [75]:
first_half = str[:(len(str)//2)]
print(first_half)

fire a

###### 8. print the whole string in reverse

In [76]:
print(str[::-1])

eci dna erif

###### 9. count the number of “i” and “e” in the string

In [77]:
print('number of "i" ', str.count('i'))
print('number of "e" ', str.count('e'))

number of "i"  2
number of "e"  2

###### 10. replace the word “and” with “&”

In [78]:
str = str.replace('and', '&')
print(str)

fire & ice

###### 11. check if the string contains the string “fire”

In [79]:
'fire' in str

True

###### 12. check if the string contains the string “re and”

In [80]:
're and' in str

False

###### 13. check if the string contains the string “re &”

In [81]:
're &' in str

True

###### 14. print the position of the first “e”

In [82]:
first_e = str.find('e')
print(first_e)

3

###### 15. print the position of the last “e”

In [83]:
last_e = str.rfind('e')
print(last_e)

#or
reverse=str[-1::-1]
le=len(str)-reverse.find("e")-1
print(le)

#or
n=0
m = 0
for i in str:
    if i == "e":
        m = n
    n= n+1
print(m)

9
9
9

 # 3. Python-functions

###### 1. define a function called “increase” that adds one to a given number

In [84]:
def increase(num):
    num += 1
    return num

print(increase(4))

5

###### 2. define a function called “add” that returns the sum of two numbers

In [85]:
def add(num1, num2):
    summe = num1 + num2
    return summe

print(add(2, 5))

7

###### 3. define a function called “add3” that returns the sum of three numbers

In [86]:
def add3(n1, n2, n3):
    sum3 =n1+n2+n3
    return sum3
    
print(add3(2,3,2))

7

###### 4. define a function called “add5” that returns the sum of five numbers

In [87]:
def add5(n1, n2, n3, n4, n5):
    sum5 =n1+n2+n3+n4+n5
    return sum5
    
print(add5(2,3,2,1,1))

9

###### 5. define a function that takes as input a **number** and a **string** and returns as many copies of the string as specified by the number. I.e. manyTimes(3,’dad’) should return ‘daddaddad’

In [88]:
def manyti(num, stri):
    manyvar = num*stri
    return manyvar

print(manyti(3, 'ann'))

annannann

###### 6. modify the previous function so that it returns something like ‘dad,dad,dad’

In [89]:
def manyti(num, stri):
    manyvar = num*(stri+',') # the comma must be concattenated
    return manyvar[:-1] # to prevent the last ',' from being printed we must not print the last character.

print(manyti(3, 'ann'))

ann,ann,ann

###### 7. modify the function at point 6 so you can specify a separator instead of just using the comma like in point 6

In [90]:
def manyti_sep(num, stri, sepperator):
    manyvar = num*(stri + sepperator) # the stri and sepperator are concattenated
    return manyvar[:-1] # to prevent the last ',' from being printed we must not print the last character.

print(manyti_sep(3, 'ann', ','))

ann,ann,ann

#   4. Python-lists and for loops

###### 1. merge the lists `[4,8,-9,”the”]` and `[“silent force”, 4.67, 9]`

In [91]:
li1 = [4,8,-9,'the']
li2 = ['silent force', 4.67, 9]
mergedlist = li1+li2
print(mergedlist)

[4, 8, -9, 'the', 'silent force', 4.67, 9]

###### 2. extract the numbers from the string “23|64|354|-123”

In [92]:
numstri = '23|64|354|-123'
numli = numstri.split('|')
print(numli)

['23', '64', '354', '-123']

Remember `<stringname>.split()` is a method that splits a string on whitespace by default. You can split on other characters in the in `"str".split('here')` by specifying it between ('').
Note that the list is still as list of elements of the class string.
To generate a list of integers we have to transform it.

In [93]:
intli = []   # the new list must be created outside of the for loop !!!
for element in numli:
    intli.append(int(element))
    
print(intli)

[23, 64, 354, -123]

###### 3. define a function called “addlist” that returns the sum of the elements of any list

In [94]:
def addlist(li):
    lisum = 0        # we have to define a variable for the sum
    for element in li:
        lisum += element # each iteration the lisum is incremented by the value of the that the variable element represents
    return lisum

print(addlist([1,2,3]))

6

###### 4. use the function addlist from point 3 to sum the numbers from point 2

In [95]:
def addlist(li):
    lisum = 0        # we have to define a variable for the sum
    for element in li:
        lisum += element # each iteration the lisum is incremented by the value of the that the variable element represents
    return lisum

print(addlist(intli))

318

###### 5. write a function that takes a list of integers and computes the list of its partial sums

In [96]:
lia = [1, 2, 3, 4, 5]

def partial_sum(li):
    par_sum_li = []
    thesum = 0
    for el in li:
        thesum += el
        par_sum_li.append(thesum)
    return par_sum_li

partial_sum(lia)

[1, 3, 6, 10, 15]

###### 6. write a function that takes an integer n and prints a square of n*n #

In [97]:
def sqrfct(inte):
    sq = inte*inte
    
    return sq

print(sqrfct(4))

16

###### 7. print the multiplication table

fkt given a list and a number, returns a new list muliplied by that number

In [98]:
def list_times_num(li, num):
    newlist=[]
    for i in gialist:
        newlist.append(i*num)
    return newlist

gialist = [1,2,3, 40]
num = 4
print(list_times_num(gialist, num))

[4, 8, 12, 160]

In [99]:
def multab(num):
    conum = []
    for i in range(1, num+1):
        conum.append(i)
    print(conum)
    for j in range(2, num+1): # so we start multiplying by 2
        regenerator=[]
        for element in conum:
            regenerator.append(j*element)
        print(regenerator)
        
multab(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# 5. Python-if and files
###### 1. create a list of numbers from 3 to 12

In [100]:
li = []
for el in range(3,13):
    li.append(el)
print(li)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

###### 2. print the numbers of the list that are odd

In [101]:
odd=[]
for i in li:
    if i%2 != 0:
        odd.append(i)
print(odd)

[3, 5, 7, 9, 11]

###### 3. print the numbers of the list that are multiples of 5

In [102]:
def mul5(lis):
    mul5li = []
    for i in lis:
        if i%5 == 0:
            mul5li.append(i)
    return mul5li

print(mul5(li))

[5, 10]

###### 4. put the values 5,2,7,8,1,-3 in a list, in this order

In [103]:
orli = [5,2,7,8,1,-3]

###### 5. print the first and the third value in the list

In [104]:
for i in range(len(orli)):
    if i == 2:
        print(orli[i])
    elif i == 3:
        print(orli[i])

7
8

###### 6. print the double of all the values in the list

In [105]:
def doli(li):
    lidob=[]
    for el in li:
        lidob.append(el*2)
    return lidob

print(doli(orli))

[10, 4, 14, 16, 2, -6]

###### 7. print each value in the list after doubling it, subtracting 2 and dividing by 3

In [106]:
def do_mi2_div3(li):
    crali=[]
    for el in li:
        crali.append((el-2)/3)
    return crali

print(do_mi2_div3(orli))

[1.0, 0.0, 1.6666666666666667, 2.0, -0.3333333333333333, -1.6666666666666667]

###### 8. print the sum of all the numbers in the list

In [107]:
def sumli(li):
    sum=0
    for el in li:
        sum += el
    return sum

print(sumli(orli))
print(sumli(do_mi2_div3(orli)))

20
2.666666666666667

###### 9. print the minimum value in the list

In [108]:
def my_min(li):
    min = li[0] #define a minimum
    for el in li: # looping through the list
        if el <= li[0]: 
            min = el  # redifineing min with the value of el
        else:
            continue
    return min
        
# min = li[0]   
kleineli = [1, 2, -3, 5]
print(my_min(kleineli))

def isnumli(li):
    if type(li) == list:
        for el in li:
            if not(type(el) == type(1) or type(el) == type(1.0)):
                return 'Input not numeric' 
        return my_min(li)
    
print(isnumli([-6,'a',1]))

-3
Input not numeric

###### 10. print the maximum value in the list

In [109]:
def my_max(li):
    themax=li[0]
    for el in li:
        if el >= themax:
            themax = el
    return themax

def checknumli(li):
    if type(li) == list:
        for el in li:
            if not(type(el) == type(1) or type(el) == type(1.0)):
                return 'Input not numeric'
        return my_max(li)

print(checknumli([3,8,100,-30,800]))

800

###### 11. print the average value

In [110]:
def my_average(li):
    #avr=0
    elsum=0
    for el in li:
        elsum += el
    avr = elsum/len(li)
    return avr

print(my_average([20, 2.8, 40]))

20.933333333333334

###### 12. put the string “avocado” in a variable and the string “radar” in another one

In [111]:
av = 'avocoado'
ra = 'radar'

13. print both strings in reverse

In [112]:
print(av[::-1])
print(ra[::-1])

#or
reversedstring1=''.join(reversed(av))
reversedstring2=''.join(reversed(ra))

print(reversedstring1)
print(reversedstring2)

odaocova
radar
odaocova
radar

###### 14. evaluate whether any of the two strings is a palindrome (i.e. a string is palindrome if it can be read in the same way both from left to right and from right to left)

In [113]:
def is_palin(st1, st2):
    if st1[::-1] == st1 or st2[::-1] == st2:
        return True

print(is_palin(av, ra))

# 14.a now to determine which is the palindrome:

def which_pali(st1, st2):
    if st1[::-1] == st1:
        return 'The string ', st1, 'is a palindrome.'
    elif st2[::-1] == st2:
        return 'The string ', st2, 'is a palindrome.'
    elif st1[::-1] == st1 and st2[::-1] == st2:
        return 'Both strings ', st1, 'and', st2, 'is a palindrome.'
    else:
        return 'Neither are palindromes.'
    
print(which_pali(av, ra))

True
('The string ', 'radar', 'is a palindrome.')

###### 15. print the first half of the first string and the second half of the second one

In [114]:
def firsthalf(st):
    l = len(st)
    l_haf = l//2 # integer division rounds down.
    return st[:l_haf] #to account for the last index not being included

###### 16. ask the user for two strings

In [115]:
# s1 = input("Give me string 1 :")
# s2 = input('Give me string 2 :')

###### 17. check if one string is the complement of the other (i.e. “AC” and “TG” -> yes)

In [116]:
def make_compl(st1):
    compel = ''
    for el in st1:
        if el == 'A':
            compel += 'T'
        elif el == 'T':
            compel += 'A'
        elif el == 'C':
            compel += 'G'
        elif el == 'G':
            compel += 'C'
    return compel
    
print(make_compl('ATTA'))

TAAT

In [117]:
def compl_char(char):
    if char == 'A':
        return 'T'
    if char == 'T':
        return 'A'
    if char == 'C':
        return 'G'
    if char == 'G':
        return 'C'
    

print(compl_of_char('T'))

#  strseq = 'AT'

def is_complement(str1, str2):
    for i in range(len(str1)):
        if compl_char(str1[i]) != str2[i]:
            return i, 'The strings are not complimentary'
            
    return True
        
print(is_complement('AAG', 'TAC'))

A
(1, 'The strings are not complimentary')

In [118]:
# 17 option b
def comp(strg):
    copchar=''
    for el in strg:
        if el == 'A':
            copchar+='T'
        if el == 'T':
            copchar+='A'
        if el == 'G':
            copchar+='C'
        if el == 'C':
            copchar+='G'
    return copchar

print(comp('AAT'))

def is_compl(str1, str2):
    if comp(str1) == str2:
        return True
    else:
        return False
    
print(is_compl('AAT', 'TTA'))

TTA
True

###### 18. print 3 rows: the first and the third for the sequences, the second one should contain “|” if
the bases are complementary, “X” if not. 


```Example:

ATTCGT 
||X|X|
TAGGAA
```

In [119]:
def pattern(s1, s2):
    pattern=''
    if len(s1) != len(s2):
        return "The seq do not have the same lenght"
    for i in range(len(s1)):
        if compl_char(s1[i]) == s2[i]:
            pattern += '|'
        else:
            pattern +='X'
    print(s1)
    print(pattern)
    print(s2)
    #return s1, pattern, s2
    
pattern('AACTC', 'TTAAG')
pattern('ATTCGT', 'TAGGAA')

AACTC
||X||
TTAAG
ATTCGT
||X|X|
TAGGAA

###### 19. Modify the program from point 18 in order to print the number of non complementary positions as well (in the given example: 2)

In [120]:
def pattern_numatch(s1, s2):
    pattern=''
    numatch=0
    if len(s1) != len(s2):
        return "The seq do not have the same lenght"
    for i in range(len(s1)):
        if compl_char(s1[i]) == s2[i]:
            pattern += '|'
            numatch += 1
        else:
            pattern +='X'
    print(s1)
    print(pattern)
    print(s2)
    print('The number of complimentary positons is ', numatch)
    
pattern_numatch('ATTCGT', 'TAGGAA')

ATTCGT
||X|X|
TAGGAA
The number of complimentary positons is  4

#### 20. Modify the previous programs in order to read the sequences from file, using them in pairs (i.e. first row with second row, third with fourth and so on) Note: each pair of strings must have the same length (i.e. first and second row must have the same length, for example 6, third and fourth row may have both length 9 etc)

* rows 1 & 2
* rows 3 & 4

In [121]:
def patmatch_fromfile(filename):
    with open('./seqtest.txt', 'r') as rfile:
        lili=rfile.read().splitlines()  # creates string of all lines .splitlines() removes \n
        for i in range(1,len(lili),2):
            s1=lili[i-1]
            s2=lili[i]
            pattern_numatch(s1, s2)
    
# print(lili)
    
fi ='"./seqtest.txt"'
patmatch_fromfile(fi)

ATTCGT
||X|X|
TAGGAA
The number of complimentary positons is  4
AAAAAAAAA
|||||||||
TTTTTTTTT
The number of complimentary positons is  9
TAAGCT
||||X|
ATTCTA
The number of complimentary positons is  5

In [122]:
# def rfile_list(filename):
#     cleanlist=[]
#     with open("./"+filename, 'r') as seqfile:
#         dirtylist = seqfile.readlines()
#         for line in dirtylist:
#             cleanlist.append(line.rstrip())        
#     return cleanlist

fil = "seq2.txt"
# print(rfile_list(fil))

# #Mod
def rfile_clean_list(filename):
    with open("./"+filename, "r") as seqfile:
        return seqfile.read().splitlines() #.read() the entire file gives you a string and .splitlines() on "\n" and creates list

print(rfile_clean_list(fil))

def pama(s1, s2):
    pat=''
    nesco=0
    for i in range(len(s1)):
        if s1[i] == compl_of_char(s2[i]):
            pat+='|'
        else:
            pat+='X'
            nesco+=1
    return s1, pat, s2, nesco
print(pama('AT','GG'))

def comparelist(li):
    for i in range(1,len(li), 2): #start at i 1, got to every second
        if len(li[i-1])!=len(li[i]):
            continue
        else:
            s1=li[i-1]
            s2=li[i]
            s1, p, s2, n = pama(s1, s2)
            print(s1)
            print(p)
            print(s2)
            print(n)
            
comparelist(rfile_clean_list(fil))

['ATTCGT', 'TAGGAA', 'TCAGCA', 'AAAAAAAAA', 'TTTTTTTTT']
('AT', 'XX', 'GG', 2)
ATTCGT
||X|X|
TAGGAA
2

Double-click __here__ for more information on splitlines():
<!-- Python string method splitlines() returns a list with all the lines in string, optionally including the line breaks (if num is supplied and is true)
-->

#### 21. Modify the previous programs in order to read the sequences from the file, 
checking for:
- **each one** with **all the others** of the **same length** 
- for the one with the **smallest number of non complementary positions**.
- Print each string with its **best match** and score as in point 19.
```
Example:
Input file
ATTCGT
TAGGAA
TCAGCA
AAAAAAAAA
TTTTTTTTT
```

```
Result:
ATTCGT and TCAGCA with 1 non complementary position
TAGGAA and ATTCGT with 2 non complementary positions
TCAGCA and ATTCGT with 1 non complementary position
AAAAAAAAA and TTTTTTTTT
TTTTTTTTT and AAAAAAAAA
```

In [132]:
# the previous fct for reading file and returning clean_list (no '\n') does not need to be modified
def rfile_clean_list(filename):
    with open("./"+filename, "r") as seqfile:
        return seqfile.read().splitlines() #.read() the entire file gives you a string and .splitlines() on "\n" and creates list

# First write function to compare each el of the list against all others of same len.
def all_list_all(lis):
    for i in range(len(lis)):
        min = ('', '', '', len(lis[i]))
        for j in range(len(lis)):
            if len(lis[i]) != len(lis[j]):
                continue
            else:
                res = pama(lis[i], lis[j])
                if min[3] > res[3]:
                    min=res
        print(min[0], 'and', min[2], 'with', min[3], 'non complementary positions')
        
#call both functions
all_list_all(rfile_clean_list('seq2.txt'))

ATTCGT and TCAGCA with 1 non complementary positions
TAGGAA and ATTCGT with 2 non complementary positions
TCAGCA and ATTCGT with 1 non complementary positions
AAAAAAAAA and TTTTTTTTT with 0 non complementary positions
TTTTTTTTT and AAAAAAAAA with 0 non complementary positions

In [124]:
#find complement of a bases
def complement_of_base(base):
    if base == 'A':
        cmp = 'T'
    if base == 'T':
        cmp = 'A'
    if base == 'G':
        cmp = 'C'
    if base == 'C':
        cmp = 'G'
    return cmp

# score of noncomplementary bases works only if len == len
def noncomplscore(sq1, sq2):
    if len(sq1) != len(sq2): # checks if they are eq len
        return -1
    num_noncomp = 0              # counts noncomplimentary pos
    for i in range(len(sq1)):
        if sq1[i] != complement_of_base(sq2[i]): # tests if complimentary
            num_noncomp += 1         # if non comp +1
    
    return num_noncomp

noncomplscore("ATTCGT", 'TCAGCA')

#li ['a', 'b', 'c', 'b']


def compare_seq(li_seq, seq_list):
    ''' compares a sequence against the rest of its list.
     returns the lowest number of noncomplimentary positions '''
    seq1 = li_seq
    seq2 = seq_list[0]
    #start_score=noncomplscore(li_seq, seq_list[0])
    start_score=len(li_seq)
    
    min = [start_score, seq1, seq2]
    
    for seq in seq_list:
        num_noncompl = noncomplscore(li_seq, seq)
        if num_noncompl < min[0] and num_noncompl > -1:
            min = [num_noncompl, li_seq, seq]

    return min

#compare_seq("ATTCGT", ["ATTCGT", 'TAGGAA', 'TCAGCA', "AAAAAAAAA", 'TTTTTTTTT'])
seqs=["ATTCGT", 'TAGGAA', 'TCAGCA', "AAAAAAAAA", 'TTTTTTTTT']  
for seq in seqs:
    res = compare_seq(seq, seqs)
    if res[0]!= -1:
        print(res)
    
    
# def each_s(filename):
#     with open(filename, 'r') as infile:
#         for i in

[1, 'ATTCGT', 'TCAGCA']
[2, 'TAGGAA', 'ATTCGT']
[1, 'TCAGCA', 'ATTCGT']
[0, 'AAAAAAAAA', 'TTTTTTTTT']
[0, 'TTTTTTTTT', 'AAAAAAAAA']

In [125]:
#first need to modify pattern_numatch so it doesnt print the pattern anymore:
def numatch(s1, s2):
    matchnum=0
    if len(s1) != len(s2):
        return "The seq do not have the same lenght"
    for i in range(len(s1)):
        if compl_char(s1[i]) == s2[i]:
            matchnum += 1
#     print(s1, 'and', s2,  'with', numatch, ' non complementary positions.')
    return matchnum
    
numatch('A', 'T')

1

In [126]:
def patmatch_fromfile(filename):
    
    with open('./seqtest.txt', 'r') as rfile:
        lili=rfile.read().splitlines()  # creates string of all lines .splitlines() removes \n
        for i in range(len(lili)):
            s1=lili[i]
            mini=[800,'','']
            for j in range(i+1, len(lili)):
                s2=lili[j]
                if len(s1) != len(s2):
                    continue
                num = numatch(s1, s2)
                if num <= mini[0]:
                    mini = [num,s1,s2]
            print(mini)        
                   
    
# print(lili)
    
fi ='"./seqtest.txt"'
patmatch_fromfile(fi)

[1, 'ATTCGT', 'ATTCTA']
[1, 'TAGGAA', 'TAAGCT']
[9, 'AAAAAAAAA', 'TTTTTTTTT']
[800, '', '']
[5, 'TAAGCT', 'ATTCTA']
[800, '', '']

###### 22. Modify the previous programs so to write the results in a new file

In [127]:
def patmatch_fromfile_write(filename):
    with open('./seqtest.txt', 'r') as rfile:
        lili=rfile.read().splitlines()  # creates string of all lines .splitlines() removes \n
        for i in range(len(lili)):
            s1=lili[i]
            for j in range(i+1, len(lili)):
                s2=lili[j]
                numatch(s1, s2)
    
# print(lili)
    
fi ='"./seqtest.txt"'
patmatch_fromfile(fi)

[1, 'ATTCGT', 'ATTCTA']
[1, 'TAGGAA', 'TAAGCT']
[9, 'AAAAAAAAA', 'TTTTTTTTT']
[800, '', '']
[5, 'TAAGCT', 'ATTCTA']
[800, '', '']

#     6. Python-dictionaries
###### 1. Create an empty dictionary

In [128]:
first_dic = {}

 #### 2. Use the dictionary to store the age of persons, and add three persons to the dictionary (with their age), including yourself

In [129]:
first_dic['Anna'] = 32
first_dic['Simone'] = 32
first_dic['i']= 28

first_dic

{'Anna': 32, 'Simone': 32, 'i': 28}

#### 3. Find your age in the dictionary

In [133]:
first_dic['i'] # Value is called by name of dict and key in []

28

In [152]:
#oder
for key in first_dic:
    if first_dic[key] == 28:
        print(first_dic[key])

28

# 4. Find the name of the youngest person

In [149]:
# vls = first_dic.values()
# list(vls) # turn vls into list

# min =  # we know its ages

#oder
min = (999, 'key') # we know its ages
for key in first_dic:
    if first_dic[key] < min[0]:
        min = (first_dic[key], key)
print(min)

(28, 'i')

5. Find the age of the youngest person

In [153]:
# keylist = list(first_dic.keys())
# valist = list(first_dic.values())

# print(keylist)
# print(valist)

min = 999
for key in first_dic:
    if first_dic[key] < min:
        min = first_dic[key]
print('The youngest is', min, 'yrs old')

['Anna', 'Simone', 'i']
[32, 32, 28]
The youngest is 28 yrs old

#### 6. Remove yourself from the dictionary

In [154]:
# use function del(dictname[theKey])
del(first_dic['i'])
print(first_dic)

{'Anna': 32, 'Simone': 32}

#### 7. Compute the average age

In [156]:
agelist= list(first_dic.values())

def avr(lis):
    sum=0
    avr=0
    for num in lis:
        sum += num
    avr= (sum/len(lis))
    return avr

print(avr(agelist))

32.0

 # 7. Python-functions 2

#### 1. Define a function to compute the square of a number

In [159]:
def sq_num(num):
    return num**2

sq_num(8)

64

#### 2. Use the function to compute the square of all numbers of a given list

In [160]:
def sq_looplist(lis):
    squlis=[]
    for el in lis:
        squlis.append(sq_num(el))
    return squlis
    
sq_looplist([2, 4, 6, 7, 8])

[4, 16, 36, 49, 64]

#### 3. Define a function to check whether a number is even

In [166]:
def eve_num(num):
    if num%2==0:
        return True
    else:
        return False

eve_num(47)

False

#### 4. Using functions from points 1. and 3., define a function that takes an integer and returns its square if it is even, the number itself otherwise

In [170]:
def int_sq_else_sq(num):
    if num%2==0:
        return sq_num(num)
    else:
        return num
    
int_sq_else_sq(3)

3

# 5. Take program 24. from the if-and-file section. Structure it in a suitable way using functions

#   8. Python-recursion

Always find first the termination condition aka 'base case'

### 0. Define a factorial function
Permutation $\arrow$ **order matters** 

[Permutations without Repetition](https://www.mathsisfun.com/combinatorics/combinations-permutations.html)
[]()
4! = 4 × 3 × 2 × 1 = 24

n!= n * (n-1) * (n-2) * (n-3) ... *1

In [185]:
# def fact_orial(nu):
#     countdown = 1
#     for n in range(nu):
#         nu * nu-countdown
#         countdown -= 1
        
# print(fact_orial(4))

def fact_orial(nu):
    if nu == 1:      #termination condition or base case
        return 1
    else:
        return nu*fact_orial(nu-1) #recursive call

print(fact_orial(3))

6

#### 1. Define the fibonacci function

[programz](https://www.programiz.com/python-programming/examples/fibonacci-recursion)

In [189]:
# def fibs(numb):
#     if numb < 1:
#         return 0f
def rabbitnumber(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return rabbitnumber(num-1)+rabbitnumber(num-2)
    
rabbitnumber(34)

5702887

#### 2. Compute fibonacci(20), fibonacci(30) and fibonacci(35)

In [190]:
print(rabbitnumber(20))
print(rabbitnumber(30))
print(rabbitnumber(35))

6765
832040
9227465

#### 3. Define a recursive function to compute the function f defined by:
    
```
   f(0) = 1
   
   f(1) = 7
   
   f(n) = n * f(n-2) if n>1
```

#### 4. Define a recursive function to double all the elements of a list of integers

In [191]:
5. Define a recursive function to double all the elements of a list of integers until a 0 is found

SyntaxError: invalid syntax (<ipython-input-191-e867aede86cc>, line 1)

In [193]:
6. Define a recursive function to compute the partial sums of a list of integers

SyntaxError: invalid syntax (<ipython-input-193-45b753ee3ab8>, line 1)

In [ ]:
7. Define a function to compute the permutations of a list

1. extra test    
2. Use a while loop to compute the partial sums of a list of integers
3. Use a while loop to print all the characters of a string until you find two consecutive equal characters (which should not be printed). Is there any advantage of using a while loop instead of a for loop?
4. Ask numbers to the users until it inserts an even number. Print the number of tries.

9. Python-while

1. Use a while loop to compute the sum of a list of integers

In [ ]:
li = [1, 2, 3]